<%= render 'pages/nav' %>
<div class="container">
<div class="small-spacer">
  <%= link_to "< Back home", dashboard_path %>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="videoWrapper">
      </div>
    </div>

    <div class="col-sm-6">
      <h1 class="text-left"><%= @movie.title %></h1>
      <p><%= @movie.description %></p>
   </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-left"><%= @users.count %> <% if @users.count == 1 %>person near you wants to see this<% else %> people near you want to see this<% end %></h3>
    </div>
    <div class="clearfix"></div>
    <div class="small-spacer light-border"></div>
    <div class="col-sm-12">
      <%= render @users, :show_user_details => true, :fluid_width => true %>
    </div>
  </div>

</div>
<div class="spacer"></div>

  
  <%= render 'users/contact_form' %>
