
<%= link_to "#", :data => {:toggle=> "modal", :target=> "#myModal"}, :class => "modal-link", :id=> user.first_name do %>
  <div class="col-sm-2 col-xs-4 user">

    <div class="circle-avatar-background">
        <div class="circle-avatar" style="background-image:url(<%= user.image %>)"></div>
    </div>
     <div class="text-center">
       <p><i class="glyphicon glyphicon-comment"></i> <%= user.name.titleize %><%= age(user) %></p>
    </div>

<!-- for modal data population -->

    <div class="hidden-user-data">
      <div class="user-name">
        <%= user.first_name.titleize %>
      </div>
      <div class="user-id">
        <%= user.id %>
      </div>
      <div class="user-image">
        <%= user.image %>
      </div>
      <div class="user-wants-to-see">
        <%= wants_to_see_movies(user) %>
      </div>
    </div>

</div>
<% end %>
