
<%= link_to "#", :data => {:toggle=> "modal", :target=> "#myModal"}, :class => "modal-link" do %>
  <div class="col-sm-2 col-xs-4 user">

    <div class="circle-avatar-background">
        <div class="circle-avatar" style="background-image:url(<%= user.image %>)"></div>
    </div>
     <div class="text-center">
       <p><%= user.name.titleize %><%= age(user) %> <i class="glyphicon glyphicon-comment"></i></p>
    </div>
  </div>

<!-- for modal data population -->

  <div class="hidden-user-data">
    <div id="user-name">
      <%= user.first_name.titleize %>
    </div>
    <div id="user-id">
      <%= user.id %>
    </div>
    <div id="user-image">
      <%= user.image %>
    </div>
    <div id="user-wants-to-see">
      <%= wants_to_see_movies(user) %>
    </div>
  </div>
<% end %>
