
<%= link_to "#", :data => {:toggle=> "modal", :target=> "#myModal"}, :class => "modal-link", :id=> user.first_name do %>

<% if fluid_width %>
  <div class="col-sm-2 col-xs-4 user">
<% else %>
  <div class="user" style="width:50px; height: 50px; margin: 5px 5px 5px 0; display: inline-block;">
<% end %>

    <div class="circle-avatar-background">
        <div class="circle-avatar" style='<%= "background-image:url(#{avatar_source(user, 'medium')})" %>'>
        </div>
    </div>
    <% if show_user_details %>
       <div class="text-center">
         <p><i class="glyphicon glyphicon-comment"></i> <%= user.name.titleize %><%= age(user) %></p>
      </div>
    <% end %>

<!-- for modal data population -->

    <div class="hidden-user-data">
      <div class="user-name">
        <%= user.first_name.titleize %>
      </div>
      <div class="user-id">
        <%= user.id %>
      </div>
      <div class="user-image">
        <%= avatar_source(user, 'medium') %>
      </div>
      <div class="user-wants-to-see">
        <%= wants_to_see_movies(user) %>
      </div>
    </div>

</div>
<% end %>
