<div class="content container">
  <div class="row spacer">
    <h3>Actually meet people. You know, like, in real life.</h3>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <p>By matching people with a shared interest in a specific activity, Seek makes it much more likely that you will actually take the next step to hang out in real life.</p>
    </div>
  </div>
    <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Pick movies you want to see</h3>

      <%= image_tag('rate.jpg', class: "img-responsive light-border") %>
    </div>
  </div>
    <div class="spacer clearfix">
      <div class="col-sm-2 col-sm-offset-5">
        <%= image_tag("arrow.jpg", :class=>"img-responsive", :style=>"margin: 0 auto; height:50px;") %>
      </div>
    </div>
    <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <%= image_tag('dashboard.jpg', class: "img-responsive light-border") %>
    </div>
  </div>
    <div class="spacer clearfix">
      <div class="col-sm-2 col-sm-offset-5">
        <%= image_tag("arrow.jpg", :class=>"img-responsive", :style=>"margin: 0 auto; height:50px;") %>
      </div>
    </div>

  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
    <h3>See who else wants to see them</h3>
      <%= image_tag('meet.jpg', class: "img-responsive light-border") %>
    </div>
  </div>
    <div class="spacer clearfix">
      <div class="col-sm-2 col-sm-offset-5">
        <%= image_tag("arrow.jpg", :class=>"img-responsive", :style=>"margin: 0 auto; height:50px;") %>
      </div>
    </div>
  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
          <h3>Connect and meet up in real life</h3>

      <%= image_tag('message.jpg', class: "img-responsive light-border") %>
    </div>
  </div>

  <div class="row spacer">
    <h3>Find people with similar interests.</h3>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <p>Seek helps you connect with people who are interested in doing the same activities as you. It takes out the awkwardness of first encounters.</p>
    </div>
  </div>

</div>

  <div class="spacer"></div>
